@use 'header-footer';

@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.section {
    &__top-text {
        padding: 130px 0;
    }

    &__botton {
        background-image: url(../images/bgd\ 404.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__botton-content {
        padding: 260px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 563px;
        margin: 0 auto;
    }

    &__botton-title {
        color: #141414;
        text-align: center;
        font-family: Playfair Display;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -0.8px;
        margin: 39px 0 16px 0;
    }

    &__botton-text {
        margin-bottom: 39px;
    }

    &__botton-link {
        padding: 23px 64px;
        background-color: $blue;
        color: #fff;
    }
}