

@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    &__container {
        max-width: 1920px;
        margin: 0 auto;
    }

    &__inner {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 38px 60px;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 46px;
    }

    &__right {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__menu {
        display: flex;
        gap: 40px;

    }

    &__menu-list {
        font-family: $font-main;
        font-size: 18px;
        font-weight: 400;
        line-height: 125%;
    }

    &__menu-link {
        color: $gray;

    }
    &__submenu {
        min-width: 170px;
        background-color: #7A9CA5;
        color: white;
        display: flex;
        flex-direction: column;        
        gap: 8px;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        z-index: 5;
        transform-origin: 0 0;
        transform: rotateX(-90deg);
        transition: .3s linear;
    }

    &__submenu li {
        position: relative;
    }

   &__menu-list:hover > &__submenu{
        transform: rotateX(0deg);
    }

    &__submenu-link {
        display: block;
        margin-left: 10px;

    }

    &__social {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__social-img {
        width: 16px;
        height: 19px;
    }

    &__social-img3 {
        position: relative;
        top: -1px;
    }

    &__phone {
        color: $black;
        font-size: 18px;
        font-style: normal;
        line-height: 125%;
        letter-spacing: -0.18px;
    }

    &__phone::before {
        content: url(../images/tel.svg);
        padding-right: 12px;
        position: relative;
        top: 5px
    }

    &__reserv {
        position: relative;
        color: #FFF;
        text-align: center;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        padding: 16px 33px 16px 59px;
        background-color: #7A9CA5;
        cursor: pointer;
    }

    &__reserv::before {
        content: url(../images/reserv.svg);
        position: absolute;
        top: 15px;
        left: 30px;
    }

    &__mobile {
        display: none;
    }

    &__menu-mobile {
        border: 1px solid $black;
    }
}


.rotate {
    writing-mode: vertical-rl;
    color: $black;
}


@media (max-width: 1630px) {
    .header {
        &__container {
            max-width: 1500px;
        }

        &__left {
            gap: 23px;
        }

        &__phone {
            font-size: 16px;
        }

        &__menu {
            gap: 20px;
        }

        &__menu-link {
            font-size: 16px;
        }

        &__social {
            gap: 25px;
        }
    }
}

@media (max-width: 1390px) {
    .header {
        &__container {
            max-width: 1300px;
        }

        &__logo-img {
            max-width: 90%;
        }

        &__inner {
            margin: 38px 40px;
            justify-content: space-around
        }

        &__left {
            gap: 7px;
        }

        &__right {
            gap: 21px;
        }

        &__menu {
            width: 50%;
            height: 100vh;
            background-color: $darkgreen;
            flex-direction: column;
            gap: 30px;
            position: absolute;
            left: 0;
            top: -200%;
            justify-content: center;
        }

        &__menu::after {
            content: "RESERVATION";
            position: relative;
            color: #FFF;
            text-align: center;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            padding: 16px 33px 16px 33px;
            background-color: #7A9CA5;
            cursor: pointer;
        }

        &__menu-link {
            font-weight: 700;
            font-size: 25px;
            color: #FFF;
            margin-left: 10%;
        }

        &__menu.menu--open {
            top: 0;
            z-index: 5;

        }

        &__social {
            gap: 20px;
        }

        &__mobile {
            display: flex;
            flex-direction: column;
            gap: 5px;
            height: 1px;
            width: 20px;
            justify-content: center
        }
    }

    .rotate {
        color: #FFF;
    }

}

@media (max-width: 1000px) {
    .header {
        &__inner {
            justify-content: space-between;
        }

        &__phone {
            display: none;
        }

        &__social {
            display: none;
        }
    }

}

@media (max-width: 610px) {
    .header {
        &__reserv {
            display: none;
        }
        &__menu {
            width: 70%;
            height: 100vh;
            background-color: $darkgreen;
            flex-direction: column;
            gap: 30px;
            position: absolute;
            left: 0;
            top: -200%;
            justify-content: center;
        }
    }
}

.footer {
    background-color: $darkgreen;
    color: #FFF;
    font-family: Manrope;
    font-size: 17px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 66px;
        margin-bottom: 52px;
    }

    &__social {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__social-img {
        padding: 16px 17px;
        border: 2px solid $blue;
        width: 55px;
        height: 55px;

    }

    &__medium {
        padding-top: 52px;
        border-top: 1px solid #404C4F;
        display: flex;
        justify-content: space-between;
        gap: 130px;

    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 21px;
        margin-bottom: 66px;
    }

    &__title {
        max-width: 160px;
        font-family: Playfair Display;
        font-size: 22px;
        font-weight: 700;
        line-height: 140%;
    }

    &__list-items {

        font-weight: 500;
        line-height: 200%;
        letter-spacing: -0.17px;
    }

    &__hours {

        max-width: 178px;
        font-weight: 500;
        line-height: 200%;
        letter-spacing: -0.17px;
    }

    &__keep-content {
        display: flex;
        max-width: 322px;

        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.17px;
        gap: 14px;
        margin-bottom: 14px;
    }

    &__keep-content1 {
        min-height: 63px;
    }

    &__keep-text {
        font-weight: 500;
    }

    &__bottom {
        background-color: $black;
        height: 75px;
        padding: 20px 0;
    }

    &-privacy {
        display: flex;
        justify-content: center;
        font-weight: 400;
        line-height: 200%;
        font-size: 15px;
    }
}

@media (max-width: 1145px) {
    .footer {
        &__medium {
            flex-wrap: wrap;
            justify-content: center;
            gap: 120px;
        }
    }

}

@media (max-width: 660px) {
    .footer {
        &__top {
            flex-direction: column;
            gap: 37px;
        }
    }
}
