@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.oneServices {
    background-color: #EBF3F5; 
    

    &__wraper {
        display: flex;
        gap: 131px;
        position: relative;
    }

    &__content {
        max-width: 538px;
        padding: 107px 0;

    }

    &__subtitle {
        text-align: start !important;
    }

    &__title {
        text-align: start !important;
        margin-bottom: 12px;
    }

    &__text {
        margin-bottom: 33px;
    }

    &__title-method {
        margin-bottom: 20px;
        color: $black;
        font-family: $font-title;
        font-size: 22px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -0.22px;
    }

    &__method {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__stage {
        display: flex;
        gap: 29px;
    }

    &__img {
        width: 33px;
        height: 33px;
    }

    &__method-text {
        max-width: 448px;
        line-height: 175% !important;
    }

    &__method-title {
        color: $black;
        font-size: 19px;
        font-weight: 700;
        line-height: 200%;
    }


    &__video {
        width: 900px;
        flex-shrink: 0;
        position: absolute;
    }

    &__btn {
        position: absolute;
        top: 42%;
        left: 86%;
    }

}

@media(max-width: 1490px) {
    .oneServices {

        &__wraper {
            display: flex;
            gap: 0;
            flex-direction: column;
            align-items: center;
        }

        &__video {
            width: 900px;
            flex-shrink: 0;
            position: relative;
        }

        &__btn {

            top: 70%;
            left: 44%;
        }

    }
}

@media(max-width: 755px) {
    .oneServices {


        &__btn {
            top: 76%;
            left: 44%;
            width: 100px;
        }

    }
}

@media(max-width: 540px) {
    .oneServices {
        &__btn {
            top: 85%;
        }

        &__img {
            width: 58px;

        }
    }
}

.booking {
    padding: 141px 0 209px 0;
    background-color: #fff;


    &__title {
        margin-bottom: 43px;
    }

    &__inner {
        display: flex;
        gap: 31px;
    }

    &__card {
        background-color: $darkgreen;
        display: flex;

    }

    &__card-left {
        padding: 40px;
    }

    &__card-title {
        color: #fff;
        font-family: $font-title;
        font-size: 26px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -0.26px;
        margin-bottom: 16px;
    }

    &__card-content {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 220%;

    }

    &__card-text {
        display: flex;
        align-items: center;
        gap: 29px;
        margin: 0 91px 0 0;
    }

    &__link {
        padding: 24px 56px;
        background-color: $blue;
        margin-top: 27px;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        line-height: 125%;
        letter-spacing: 1.68px;
        text-transform: uppercase;
        max-width: 250px;
    }

    &__card-right {
        background-color: $darkgreen;
        position: relative;
        background-image: url(../images/GOLD\ CARD.png);
        background-repeat: no-repeat;
        background-position: 50% 85%;
        padding: 0 0 29px 0;
    }

    &__card-right2 {
        background-image: url(../images/PLATINUM.png);
    }



    &__card-price {
        color: #FFF;
        text-align: center;
        font-family: $font-title;
        font-size: 20px;
        font-weight: 400;
        line-height: 130%;
        background-color: #111E22;
        padding: 25px 19px;
    }

    &__card-price span {
        color: #FFF;
        text-align: center;
        font-family: $font-main;
        font-size: 55px;
        font-weight: 800;
        line-height: 130%;
        letter-spacing: -0.55px;

    }

    &__card-gold {
        position: absolute;
        transform: rotate(-90deg);
        padding: 25px 43px;
        color: #FFF;
        font-family: Manrope;
        font-size: 40px;
        font-weight: 800;
        line-height: 130%;
        text-transform: uppercase;
    }
}

@media(max-width: 1210px) {
    .booking {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media(max-width: 625px) {
    .booking {
        &__card-left {
            padding: 20px;
        }

        &__card-text {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 0 10px 0 0;
        }

        &__card-par {
            font-size: 16px;
        }

        &__link {
            padding: 24px 56px;
            background-color: $blue;
            margin-top: 27px;
            text-align: center;
            font-size: 14px;
            font-weight: 800;
            line-height: 125%;
            letter-spacing: 1.68px;
            text-transform: uppercase;
            max-width: 250px;
        }

        &__card-right {
            background-position: 50% 94%;
            background-size: 20%;

        }
    }

}

@media(max-width: 470px) {
    .booking {
        &__card {
            flex-wrap: wrap;
            flex-direction: column;
        }

        &__card-right {
            max-width: 139px;
            margin: 0 auto;
            background-image: none;
        }
    }

}

.appointment {
    padding: 129px 95px;

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        max-width: 622px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    &__card {
        padding: 83px 100px;
        background-color: #fff;
    }

    &__forms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 810px;
        margin: 0 auto;
        row-gap: 15px;
        margin-bottom: 35px;

    }


    &__input {
        width: 400px;
        height: 65px;
        padding: 0 !important;

    }

    &__input:nth-child(odd) {
        margin-right: 10px;
    }

    &__input::placeholder {
        padding: 16px 0 16px 54px;

    }

    &__subtext {
        text-align: center;
        margin: 0 auto;
        color: $blue;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        max-width: 400px;
    }
}

@media(max-width: 1235px) {
    .appointment {
        &__forms {

            flex-direction: column;

            align-content: center;
            margin: 0 auto;
            row-gap: 15px;
            margin-bottom: 35px;
        }

        &__input {
            max-width: 360px;
        }

        &__input:nth-child(odd) {
            margin-right: 0px;
        }
    }
}

@media(max-width: 630px) {
    .appointment {

        &__forms {
            row-gap: 10px;
            margin-bottom: 25px;
        }

        &__input {
            width: 300px;
        }

        &__link {
            width: 300px;
        }
        &__card {
          padding: 0;
          background-color: inherit;
          
        }

    }
}
